name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  TEST_TAG: misp-modules:latest

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    -
      name: Build and export to Docker
      uses: docker/build-push-action@v2
      with:
        context: .
        load: true
        tags: ${{ env.TEST_TAG }}
    - 
      name: Test
      run: |
        sudo apt-get install -y wait-for-it
        docker run --name misp-modules --rm -p 127.0.0.1:6666:6666 ${{ env.TEST_TAG }} &
        wait-for-it localhost:6666 -t 30
        curl http://localhost:6666/modules
        docker stop misp-modules
    - 
      name: Container scan
      uses: azure/container-scan@v0
      with:
        image-name: ${{ env.TEST_TAG }}    
    -
      name: Login to DockerHub
      if: github.event_name != 'pull_request'
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    -
      name: Build and push
      if: github.event_name != 'pull_request'
      uses: docker/build-push-action@v2
      with:
        push: true
        tags: ghcr.io/nukib/misp-modules:latest
    
